# 项目相关配置
ruoyi:
  # 名称
  name: RuoYi
  # 版本
  version: 3.9.1
  # 版权年份
  copyrightYear: 2025
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: ${FILE_UPLOAD_PATH:./uploadPath}
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math
  # 开发模式
  devMode: true
  # 是否开启账号注册功能
  account:
    registerUser: false
    guestLogin: false

# JWT配置（仅用于 Refresh Token）
jwt:
  # 密钥
  secret: ${JWT_SECRET:}
  # Refresh Token有效期（分钟）
  refresh-token-expire: 1440

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 14000
  servlet:
    # 应用的访问路径
    context-path: /contract-security-ruoyi
#    context-path: /contract-security-ruoyi
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默f认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.ruoyi: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  application:
    name: contract-security-ruoyi
    
  cloud:
    nacos:
      server-addr: ${NACOS_SERVER:localhost:18848}
      username: ${NACOS_USERNAME:nacos}
      password: ${NACOS_PASSWORD:}

      discovery:
        server-addr: ${NACOS_SERVER:localhost:18848}
        namespace: ${NACOS_NAMESPACE:public}
        group: CONTRACT_REVIEW
        enabled: true
        heart-beat:
          enabled: true
          interval: 5000
          timeout: 15000
        metadata:
          management:
            context-path: /actuator
          health:
            check-url: http://${spring.cloud.client.ip-address}:${management.server.port}/actuator/health

      config:
        namespace: ${NACOS_NAMESPACE:public}
        group: CONTRACT_REVIEW
        file-extension: yml

  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: druid
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 10MB
      # 设置总上传的文件大小
      max-request-size: 20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  data:
    # redis 配置
    redis:
      # 地址
      host: localhost
      # 端口，默认为6379
      port: 6379
      # 数据库索引
      database: 0
      # 密码
      password:
      # 连接超时时间
      timeout: 10s
      lettuce:
        pool:
          # 连接池中的最小空闲连接
          min-idle: 0
          # 连接池中的最大空闲连接
          max-idle: 8
          # 连接池的最大数据库连接数
          max-active: 8
          # #连接池最大阻塞等待时间（使用负值表示没有限制）
          max-wait: -1ms

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: ${TOKEN_SECRET:}
  # 令牌有效期（默认30分钟）
  expireTime: 1

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.ruoyi.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Springdoc配置
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tags-sorter: alpha
  group-configs:
    - group: 'default'
      display-name: '测试模块'
      paths-to-match: '/**'
      packages-to-scan: com.ruoyi.web.controller.tool

# 防盗链配置
referer:
  # 防盗链开关
  enabled: false
  # 允许的域名列表
  allowed-domains: localhost,127.0.0.1,ruoyi.vip,www.ruoyi.vip

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*
